:root {
    --background-color: #ffffff;
    --card-background: #ffffff;
    --navbar-background: #fee4a9;
    --navbar-more-background: #353535;
    --miniprofile-background: #ffffff;
    --miniprofile-gmail-text: #666;
    --settings-change-profile-text: #666;
    --text-color: #000000;
    --primary-color: #dcaf48;
    --secondary-color: #999;
    --border-color: #c7c7cc;
    --borderline-color-light: #ddd;
    --borderline-color-dark: #666666;
    --box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
    --box-shadow-dark: 0 2px 4px rgba(255, 255, 255, 0.1);
    --gradient-light: linear-gradient(to bottom,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0.8) 20%,
            rgba(255, 255, 255, 0.6) 40%,
            rgba(255, 255, 255, 0.4) 60%,
            rgba(255, 255, 255, 0.2) 80%,
            rgba(255, 255, 255, 0) 100%);
    --gradient-dark: linear-gradient(to bottom,
            rgba(53, 53, 54, 1) 0%,
            rgba(53, 53, 54, 0.8) 20%,
            rgba(53, 53, 54, 0.6) 40%,
            rgba(53, 53, 54, 0.4) 60%,
            rgba(53, 53, 54, 0.2) 80%,
            rgba(53, 53, 54, 0) 100%);
    --gradient-profile-section-light-before: linear-gradient(to bottom,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 100%);

    --gradient-profile-section-light-after: linear-gradient(to top,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 100%);

    --gradient-profile-section-dark-before: linear-gradient(to bottom,
            rgba(44, 44, 46) 0%,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 0) 100%);
    --gradient-profile-section-dark-after: linear-gradient(to top,
            rgba(44, 44, 46) 0%,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 0) 100%);

    --gradient-wallet-section-light: linear-gradient(135deg, #fff8e5 0%, #e5bb21 100%);
    --gradient-wallet-section-dark: linear-gradient(135deg, #2a2a2a 0%, #6e6a31 100%);
    --transition-speed: 0.3s;
}

html.dark-mode {
    --background-color: #353536;
    --card-background: #353536;
    --miniprofile-background: #4e4e4e;
    --miniprofile-gmail-text: #999;
    --settings-change-profile-text: #bbbbbb;
    --text-color: #f2f2f7;
    --border-color: #38383a;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: grid;
    overflow: hidden
}

/* Navigation Bar CSS*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 20px;
    background-color: var(--card-background);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

#logo-image {
    transition: content 0.3s ease;
}

html.dark-mode #logo-image {
    width: auto;
    height: 35px;
    margin-left: 6px;
    margin-bottom: 1px;
    content: url("pic/mycarlogo_light.png");
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fee4a9;
    padding: 10px 40px 10px 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    border: 1px;
}

.nav-links a:hover {
    background-color: #dcaf48;
    color: white;
}

#home-button {
    background-color: #dcaf48;
    color: white;
    border: none;
}

.nav-links i {
    padding-right: 10px;
    font-size: 16px;
}

/*mini profile*/
.profile img {
    height: 50px;
    border-radius: 50%;
}

.profile {
    position: relative;
}

#profile-pic {
    width: 48px;
    height: 48px;
    margin-top: 3px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.profile-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 8px;
    right: 0;
    background-color: var(--miniprofile-background);
    border: 1px solid var(--borderline-color-light);
    border-radius: 9px;
    padding: 15px 20px 20px 20px;
    box-shadow: var(--box-shadow-light);
    color: var(--text-color);
    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
}

html.dark-mode .profile-dropdown {
    box-shadow: var(--box-shadow-dark);
    border: 1px solid var(--borderline-color-dark);
}

.profile-dropdown.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.profile-info {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 10px 20px 0;
    margin: 0px 10px 10px 0;
}

.profile-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
    margin-left: 6px;
}

.profile-info h3 {
    margin: 0;
    font-size: 16px;
}

.profile-info p {
    margin: 0;
    font-size: 12px;
    color: var(--miniprofile-gmail-text)
}

.profile-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile-dropdown li {
    padding: 8px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.profile-dropdown li i {
    margin-right: 8px;
    width: 20px;
}

.settings-profile {
    color: var(--text-color);
    text-decoration: none;
}

.logout-profile {
    color: rgb(250, 70, 70);
}

.logout-profile:hover {
    color: rgb(253, 39, 39);
    transition: color 0.3s ease;
}

.help-center-profile {
    color: var(--text-color);
    text-decoration: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #dcaf48;
}

input:checked+.slider:before {
    transform: translateX(20px);
}

/* Logout Modal Styles */
.logout-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.logout-modal-content {
    background-color: var(--card-background);
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
    text-align: center;
    color: var(--text-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

html.dark-mode .logout-modal-content {
    background-color: var(--card-background);
    color: var(--text-color);
}

.logout-modal-content h2 {
    margin-top: 10px;
}

.logout-modal-content button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.logout-modal-content button#confirm-logout {
    background-color: #dcaf48;
    color: white;
}

.logout-modal-content button#confirm-logout:hover {
    background-color: #c99c3d;
}

.logout-modal-content button#cancel-logout {
    background-color: #f0f0f0;
    color: #333;
}

.logout-modal-content button#cancel-logout:hover {
    background-color: #e0e0e0;
}

html.dark-mode .logout-modal-content button#cancel-logout {
    background-color: #4a4a4a;
    color: #f0f0f0;
}

html.dark-mode .logout-modal-content button#cancel-logout:hover {
    background-color: #5a5a5a;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
}

.animated-popup {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow-light);
    color: #fff;
    padding: 10px 20px;
    border-radius: 12px;
    z-index: 1000;
    transition: top 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
}

/* Done booking page CSS*/
.done-booking {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.done-booking-text {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

.done-booking-text h3 {
    margin-bottom: 5px;
}

.done-booking-text p {
    margin-top: 0px;
}

.done-booking-btn {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.done-booking-btn button {
    background-color: #dcaf48;
    color: white;
    padding: 15px 150px;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.done-booking-btn button:hover {
    background-color: #ecc466;
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease-in-out;
}

.done-booking-btn a {
    background-color: transparent;
    text-decoration: none;
}

/* hamburger menu*/
#hamburger-menu {
    display: none;
    /* Hide by default */
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 3px;
}

#hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin: 5px 0;
    transition: 0.4s;
}

/* Responsive design */
@media screen and (max-width: 935px) {
    .settings-grid {
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 0 20px 10px 20px;
    }

    .navbar {
        display: flex;
        padding: 5px 20px 5px 20px;
        transition: flex-grow 0.5s ease-in-out;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
        flex-grow: 2;
        transition: flex-grow 0.5s ease-in-out;
    }

    .nav-links a {
        padding: 10px 20px;
        margin-bottom: 10px;
        transition: flex-grow 0.5s ease-in-out;
    }

}

@media screen and (max-width: 832px) {
    .navbar {
        flex-wrap: wrap;
        padding: 10px 20px 0 20px;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        order: 3;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        opacity: 0;
        visibility: hidden;
        margin-top: 10px;
    }

    .nav-links.show {
        max-height: 500px;
        /* Adjust this value based on your menu's expected maximum height */
        opacity: 1;
        visibility: visible;
        transition: max-height 0.5s ease-out, opacity 0.3s ease-out, visibility 0s;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .nav-links a {
        padding: 10px;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    }

    .nav-links.show a {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.2s;
        /* Delay the appearance of links slightly */
    }


    .profile {
        display: flex;
    }

    #profile-pic {
        margin-right: 20px;
    }

    .profile-info img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .profile-dropdown {
        margin-right: -1px;
    }

    .header-right {
        display: flex;
        align-items: center;
    }

    #hamburger-menu {
        display: block;
        margin-top: 3px;
    }

    #hamburger-menu span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: var(--text-color);
        margin: 5px 0;
        transition: 0.4s;
    }

    /* Hamburger menu animation */
    #hamburger-menu span {
        transition: all 0.3s ease-in-out;
    }

    #hamburger-menu.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    #hamburger-menu.active span:nth-child(2) {
        opacity: 0;
    }

    #hamburger-menu.active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

@media screen and (max-width: 594px) {
    .animated-popup {
        transition: all 0.3s ease-in-out;
    }
}

@media screen and (max-width: 488px) {
    .animated-popup {
        font-size: 14px;
        transition: all 0.3s ease-in-out;
    }

}

@media screen and (max-width: 430px) {
    .animated-popup {
        width: 169px;
        transition: all 0.3s ease-in-out;
    }
}


/* Dark mode adjustments */
html.dark-mode #hamburger-menu span {
    background-color: var(--text-color);
}